@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #1d3557;
}

@layer utilities {
  .clip-path-wave-up {
    clip-path: polygon(
      100% 100%,
      0% 100%,
      0% 35%,
      2% 35.73%,
      4% 37.86%,
      6% 41.18%,
      8% 45.36%,
      10% 50%,
      12% 54.64%,
      14% 58.82%,
      16% 62.14%,
      18% 64.27%,
      20% 65%,
      22% 64.27%,
      24% 62.14%,
      26% 58.82%,
      28% 54.64%,
      30% 50%,
      32% 45.36%,
      34% 41.18%,
      36% 37.86%,
      38% 35.73%,
      40% 35%,
      42% 35.73%,
      44% 37.86%,
      46% 41.18%,
      48% 45.36%,
      50% 50%,
      52% 54.64%,
      54% 58.82%,
      56% 62.14%,
      58% 64.27%,
      60% 65%,
      62% 64.27%,
      64% 62.14%,
      66% 58.82%,
      68% 54.64%,
      70% 50%,
      72% 45.36%,
      74% 41.18%,
      76% 37.86%,
      78% 35.73%,
      80% 35%,
      82% 35.73%,
      84% 37.86%,
      86% 41.18%,
      88% 45.36%,
      90% 50%,
      92% 54.64%,
      94% 58.82%,
      96% 62.14%,
      98% 64.27%,
      100% 65%
    );
  }

  .clip-path-wave-down {
    clip-path: polygon(
      100% 0%,
      0% 0%,
      0% 35%,
      2% 35.73%,
      4% 37.86%,
      6% 41.18%,
      8% 45.36%,
      10% 50%,
      12% 54.64%,
      14% 58.82%,
      16% 62.14%,
      18% 64.27%,
      20% 65%,
      22% 64.27%,
      24% 62.14%,
      26% 58.82%,
      28% 54.64%,
      30% 50%,
      32% 45.36%,
      34% 41.18%,
      36% 37.86%,
      38% 35.73%,
      40% 35%,
      42% 35.73%,
      44% 37.86%,
      46% 41.18%,
      48% 45.36%,
      50% 50%,
      52% 54.64%,
      54% 58.82%,
      56% 62.14%,
      58% 64.27%,
      60% 65%,
      62% 64.27%,
      64% 62.14%,
      66% 58.82%,
      68% 54.64%,
      70% 50%,
      72% 45.36%,
      74% 41.18%,
      76% 37.86%,
      78% 35.73%,
      80% 35%,
      82% 35.73%,
      84% 37.86%,
      86% 41.18%,
      88% 45.36%,
      90% 50%,
      92% 54.64%,
      94% 58.82%,
      96% 62.14%,
      98% 64.27%,
      100% 65%
    );
  }

  .clip-path-under-line {
    clip-path: polygon(8% 0%, 100% 0%, 92% 100%, 0% 100%);
  }
}
